// Index


// Header
.header {
  padding: 5vh 0;
  @include grid-media($mobile) {
    @include grid-column(4);
  }
  @include grid-media($default-grid) {
    @include grid-column(12);
  }

  .header__wrapper {
    @include grid-column(8);


    h1 {
      margin-bottom: 20px;
    }
    h4 {
      color: $light-grey;
    }

  }
  .nav--right {
    float: right;
    margin-top: 24px;

    li {
      display: inline-block;
      list-style: none;
      margin-right: 32px;

      &:last-child {
        margin-right: 0;
      }

    }
  }
}

// Animation Box (for now, sighhhhhh)
.animation {
  @include grid-media($mobile) {
    @include grid-column(4);
  }
  @include grid-media($default-grid) {
    @include grid-column(12);
  }
  height: 40vh;
  background-color: #fff;
  margin-bottom: 10vh;
  position: relative;

  canvas {
    transition: transform 1.25s;

    &:hover {
      transform: skewX(-10deg);
      transform: skewY(10deg);
    }
  }

}

// Footer
.footer {
  ul {
    @include grid-media($default-grid) {
      @include grid-column(12);
    }
    list-style: none;
    margin-top: 0 !important;

    li {
      float: left;
      display: block;
    }
  }

  &--top {

    margin-bottom: 3vh;
    li {
      margin-right: em(40);

      a {
        font-size: 14px;
        padding-bottom: 2px;
      }
    }
  }

  &--bottom {
    li {
      margin-right: em(20);
      font-size: 12px;

      a {
        color: $light-grey;
        opacity: 1;

        &:hover {
          opacity: .8;
        }
      }
    }
  }

}
