// Index


// Footer
.footer {
  margin-top: 7vh;
  margin-bottom: 9vh;

  .footer__wrapper {
    @include grid-shift(1);
    @include grid-media($default-grid) {
      @include grid-column(12);
    }
    position: relative;
  }

  ul {
    list-style: none;
    margin-top: 0 !important;

    li {
      float: left;
      display: block;
    }
  }

  .footer__text--sub {
    margin-top: 1em;
    margin-bottom: 1em;
    color: $light-grey;
    font-size: rem(16);
  }

}

.footer--top {
    li {
      margin-right: em(24);

      a {
        text-decoration: none;
        font-size: em(12);
        padding-bottom: 2px;
      }
    }
  }
