// Index


// Footer
.footer {
  ul {
    @include grid-media($default-grid) {
      @include grid-column(12);
    }
    list-style: none;
    margin-top: 0 !important;

    li {
      float: left;
      display: block;
    }
  }

  &--top {

    margin-bottom: 3vh;
    li {
      margin-right: em(40);

      a {
        font-size: 14px;
        padding-bottom: 2px;
      }
    }
  }

  &--bottom {
    li {
      margin-right: em(20);
      font-size: 12px;

      a {
        color: $light-grey;
        opacity: 1;

        &:hover {
          opacity: .8;
        }
      }
    }
  }

}
