// Sub Page
.container__wrapper--bg {
    background-color: #F7F7F9;
}

.about--color {
  background-color: $mauve;
}

.contact--color {
  background-color: $powder-blue;
}

// Back Button
.back-button {
  padding: 5vh 0;


  .back-button__wrapper {
    @include grid-column(8);

    h4, h5 {
      margin-bottom: 20px;
    }

  }

}

.back-button__text {
  a {
    font-family: $apercu;
    text-decoration: none;
  }

  &:hover {
    &:before {
      padding-left: 0px;
    }
  }

  &:before {
    content: url(images/backpointer.png);
    vertical-align: baseline;
    padding-left: 4px;
    height: 20px;
    width: 20px;
    padding-right: 8px;
    transition-duration: .2s;
  }

}

.nav--right--sub {
  float: right;
  margin-top: -14px;

  a {
    margin-right: 32px;
  }

  li {
    display: inline-block;
    list-style: none;




    &:last-child {
      margin-right: 0;
    }

  }
}

// About page and contact
.full-page {
  height: 90vh;
  margin: 0;
  position: relative;

  .full-page__wrapper {
    margin: 6vh 0;
    @include grid-media($mobile) {
      @include grid-column(4);
    }
    @include grid-media($default-grid) {
      @include grid-column(10);
      @include grid-shift(1);
    }

    h4 {
      color: $black;
      line-height: 1.7;
      font-size: em(20);
      margin-bottom: 1em;
    }

    a {
      color: $black;
    }

  }
}

.about{
  ul {
    li {
      display: inline-block;
      list-style: none;
    }
  }
}


// Header
.subpage__header {
  height: 60vh;
  margin: 0 0 7vh 0;
  position: relative;
  background-color: #F7F7F9;

  .subpage__header--wrapper {
    margin: 8vh 0;
    @include grid-media($mobile) {
      @include grid-column(4);
    }
    @include grid-media($default-grid) {
      @include grid-column(11);
      @include grid-shift(1);


    }

    h2 {
      margin-bottom: 16px;
    }

    h4 {
      color: $medium-grey;
      font-size: rem(18);
      line-height: 1.6;
    }

    h5 {
      color: $light-grey;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: em(10);
      margin-bottom: 16px;
    }
  }
}

// Images
.subpage__image {
  margin: 7vh 0;
  width: 90%;

}

.image--subpage {
  @include grid-media($default-grid) {
    @include grid-column(11);
  }
  margin: 7vh 0;
}

.image--subpage--description {
  margin-top: 1em;
  text-align: center;
  margin-left: 0 !important;

  a {
    font-family: $apercu-mono;
  }

}

.--multiple {
  margin: 4vh 0;
}

.--small {
  margin: 2vh 0;
}

.--grid {
  @include grid-media($mobile) {
    @include grid-column(4);
  }
  @include grid-media($default-grid) {
    @include grid-column(6);
  }
}

// Case Study Categories Grid
.categories-grid {
  margin-top: 7vh;
  margin-bottom: 7vh;

  .categories-grid__block {
    @include grid-media($mobile) {
      @include grid-column(4);
    }
    @include grid-media($default-grid) {
        @include grid-column(4);
        margin-left: 2em;
        padding-right: 2em;
    }

    border-right: 2px solid $powder-blue;
    padding: em(32) 0;
    display: flex;
    &:first-child {
      margin-left: 0 !important;
    }
    &:last-child {
      border-right: none;
      margin-right: 0 !important;
      padding-right: 0 !important;

    }

    .categories-grid__block--wrapper {
      margin: auto;
      text-align: center;

      h4 {
        margin-bottom: em(10);
      }
      ul {
        margin-left: 0;

        li {
          list-style: none;
          color: $light-grey;
          font-size: 1em;
          margin-bottom: .5em;
        }
      }
    }
  }
}

.--margin-middle {
  margin-bottom: em(50);
}
