// Sub Page

// Back Button
.back-button {
  @include grid-media($mobile) {
    @include grid-column(4);
  }
  @include grid-media($default-grid) {
    @include grid-column(12);
  }
  margin: 5vh 0;
  &__wrapper {
  }
}

// Header
.subpage__header {
  @include grid-media($mobile) {
    @include grid-column(4);
  }
  @include grid-media($default-grid) {
    @include grid-column(12);
  }
  &--wrapper {
    margin: 5vh 0;
    @include grid-media($mobile) {
      @include grid-column(4);
    }
    @include grid-media($default-grid) {
      @include grid-column(8);
      @include grid-shift(2)
    }

    h2 {
      margin-bottom: 20px;
    }

    h4 {
      color: $light-grey;
    }
  }
}

// Images
.image--subpage {
  @include grid-media($mobile) {
    @include grid-column(4);
  }
  @include grid-media($default-grid) {
    @include grid-column(11);
  }
  margin: 7vh 0;

}

.image--subpage--description {
  margin-top: 1em;
  text-align: center;
  margin-left: 0 !important;

  a {
    font-family: $apercu-mono;
  }

}

.--multiple {
  margin: 4vh 0;
}

.--small {
  margin: 2vh 0;
}

.--grid {
  @include grid-media($mobile) {
    @include grid-column(4);
  }
  @include grid-media($default-grid) {
    @include grid-column(6);
  }
}

// Case Study Categories Grid
.categories-grid {
  margin: 7vh 0;
  margin-left: 0 !important;
  @include grid-media($mobile) {
    @include grid-column(4);
  }
  @include grid-media($default-grid) {
    @include grid-column(12);
  }

  &__block {
    @include grid-media($mobile) {
      @include grid-column(4);
    }
    @include grid-media($default-grid) {
        @include grid-column(4);
    }

    border-right: 6px solid $powder-blue;
    padding: em(32) 0;
    display: flex;

    &:first-child {
      margin-left: 0 !important;
    }
    &:last-child {
      border-right: none;
    }

    &--wrapper {
      margin: auto;
      text-align: center;

      h4 {
        margin-bottom: em(10);
      }
      ul {
        li {
          list-style: none;
          color: $light-grey;
          font-size: 1em;
          margin-bottom: .5em;
        }
      }
    }
  }
}

.--margin-middle {
  margin-bottom: em(50);
}
