.app {
  display: flex;
  flex-direction: column;
}

.header {

}

h1 {
  font-family: 'Circular Medium', sans-serif;
  font-size: 50px;
  line-height: 1.2;
  color: #000000;
}


.App-intro {
  font-size: large;
  font-family: 'Apercu Regular';
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
