@font-face {
	font-family: 'Apercu Regular';
	src: 	url('../fonts/apercu/apercu_regular-webfont.woff') format('woff'),
			 	url('../fonts/apercu/apercu_regular-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'Apercu Bold';
	src: 	url('../fonts/apercu/apercu_bold-webfont.woff') format('woff'),
			 	url('../fonts/apercu/apercu_bold-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'Apercu Mono';
	src: 	url('../fonts/apercu/apercu_mono-webfont.woff2') format('woff2'),
				url('../fonts/apercu/apercu-mono-webfont.woff') format('woff'),
				url('../fonts/apercu/apercu-mono-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'Circular Book';
	src: 	url('../fonts/circular/circular-book.woff') format('woff'),
			 	url('../fonts/circular/circular-book.ttf') format('truetype');
}

@font-face {
	font-family: 'Circular Medium';
	src: 	url('../fonts/circular/circular-medium.woff') format('woff'),
			 	url('../fonts/circular/circular-medium.ttf') format('truetype');
}
