// Colors

// Grey Stack
$black: #000;
$dark-grey: #333333;
$medium-grey: #666666;
$light-grey: #999999;
$offwhite: #EEEEEE;
$white: #FFF;

// Primary Colors
$cruise-teal: #B5E9DF;
$pastel-yellow: #FFFF95;
$super-blue: #0021EB;
$red-orange: #FF5A4A;
