// Grid Settings

$default-grid: (
  columns: 12,
  gutter: em(40),
  media: 1160px,
);

$tablet: (
  columns: 12,
  gutter: em(20),
  media: "(max-width: 1020px)",
);

$mobile: (
	columns: 4,
	gutter: em(20),
	media: "(min-width: 640px)",
);
