// Header
.header {
  padding: 5vh 0;

  .header__wrapper {
    @include grid-column(8);

    h4 {
      margin-bottom: 20px;
    }

  }
  .nav--right {
    float: right;
    margin-top: -7px;

    li {
      display: inline-block;
      list-style: none;
      margin-right: 32px;

      a {
        font-family: $apercu;
        font-size: rem(14);
        display: inline-block;
        position: relative;
        color: $black;
        padding: 16px 0;
        text-decoration: none;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          display: inline-block;
          height: 1em;
          width: 100%;
          border-bottom: 1px solid $light-er-grey;
          margin-top: 5px;
          transition: all .2s ease-out;
          opacity: 1;
        }

        &:hover {
          color: $medium-grey;

          &:after {
              transform: translate(0, -10px);
              opacity: 0;
          }
        }
      }
      &:last-child {
        margin-right: 0;
      }

    }
  }
}
