.hero__wrapper {
  height: 60vh;
  margin: 2vh 0 7vh 0;
  position: relative;
}

.hero__text--wrapper {
  height: 100%;
  position: absolute;
  z-index: 1;
  width: 100%;

  .container {
    display: flex;
    height: 60vh;
    flex-direction: column;
    justify-content: center;
  }

  .hero__text {
     align-self: center;
  }

  .hero__text--sub {
    margin-top: 1em;
    color: $light-grey;
    font-size: rem(16);
  }
}
// Animation Box (for now, sighhhhhh)
.animation {
  height: 60vh;
  background-color: #fff;
  width: 100%;
  position: absolute;
  z-index: -1;

  canvas {
    opacity: .2;
    height: 100%;

  }
}
