// Project grid

.projects__grid {
  @include grid-media($default-grid) {
    @include grid-column(6);
  }

  h5 {
    margin-top: 1.25em;
    color: $light-grey;
  }
}

.projects__image {
  margin-bottom: .5em;
}
