// Project grid

.projects__grid {
  position: relative;
  @include grid-media($default-grid) {
    @include grid-column(6);
  }


  h4, h5 {
    text-decoration: none;

  }
  h5 {
    margin-top: .5em;
    color: $light-grey;
  }


}



.projects__image--wrapper {
  position: absolute;
  background-color: $white;
  padding: 1.25em 1.75em;
  top: 60%;
  left: 0;
  transition: transform 300ms;
  border-bottom: 6px solid $cruise-teal;

  &:hover {
    transform: translate(12px, -13px);
  }

}
