// Section
.section {
  @include grid-shift(1);

  .section__title {
    @include grid-media($default-grid) {
      @include grid-column(2);
    }

    h5 {
      color: $light-grey;
      text-transform: uppercase;
      letter-spacing: 2.27px;
      line-height: 1.667;

      &:before {
        content: url('images/line.svg');
        vertical-align: super;
        top: 1.5px;
        position: relative;
      }
    }
  }

  .section__body {
    @include grid-media($default-grid) {
      @include grid-column(10);
      margin-left: 0;
    }

    .section__body--wrapper {
      @include grid-media($default-grid) {
        @include grid-column(11);
      }

      h4 {
        margin-bottom: .5em;
      }
    }
  }


  .link {
    margin-bottom: 1em;
  }

  ul, ol {
    margin-left: 1.5em;
    margin-top: 1em;

    li {
      margin-bottom: 1em;
    }

  }
}

.line__wrapper {
  margin: 10vh auto;
  @include grid-column(10);
  @include grid-shift(2);
}

.line {
  width: 82%;
  height: em(5);
  background-color: $offwhite;



  &--no-line {
    background-color: $white;
  }
}
