// Section
.section {
  @include grid-media($mobile) {
    @include grid-column(4);
  }
  @include grid-media($default-grid) {
    @include grid-column(12);
  }

  &__title {
    @include grid-media($default-grid) {
      @include grid-column(2);
    }

    h5 {
      color: $light-grey;
      text-transform: uppercase;
      letter-spacing: 2.27px;

      &:before {
        content: url('images/line.svg');
        vertical-align: super;
        top: 1.5px;
        position: relative;
      }
    }
  }

  &__body {
    @include grid-media($default-grid) {
      @include grid-column(10);
      margin-left: 0;
    }

    &--wrapper {
      @include grid-media($default-grid) {
        @include grid-column(10);
      }
    }
  }

  .line {
    @include grid-column(12);
    height: em(5);
    background-color: $offwhite;
    margin: 10vh 0;
  }

  .link {
    margin-bottom: 1em;
  }
}
