// Base

.container {
  @include grid-container($default-grid);
  @include grid-media($default-grid) {
      max-width: 1160px;
      margin: auto;
  }
  @include grid-media($mobile) {

  }
}

canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}

a {
  font-family: $apercu-bold;
}
