// Helpers

.margin0btm {
  margin-bottom: 0 !important;
}

.middle {
  // this is such a gross hack. please take out.
  padding-right: 1.25em !important;
}

.center {
  text-align: center;
}

.fancy-underline {
  font-family: $apercu;
  font-size: rem(14);
  display: inline-block;
  position: relative;
  color: $black;
  padding: 16px 0;
  text-decoration: none;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid $powder-blue;
    margin-top: 5px;
    transition: all .2s ease-out;
    opacity: 1;
  }

  &:hover {
    color: $medium-grey;

    &:after {
        transform: translate(0, -10px);
        opacity: 0;
    }
  }
}



// link underlines
.underline--big {
  a {
    display: inline-block;
    position: relative;
    color: $black;
    font-family: $circular-bold;
    text-decoration: none;


    &:after {
      content: '';
      position: absolute;
      left: 0;
      display: inline-block;
      height: 1em;
      width: 100%;
      border-bottom: 4px solid $powder-blue;
      transition: all .2s ease-out;
      margin-top: 10px;

    }

    &:hover {
      &:after {
          transform: translate(0, -20px);
      }

    }

  }
}

// link underlines
.underline--small {
  a {
    display: inline-block;
    position: relative;
    color: $black;
    font-family: $circular-bold;
    text-decoration: none;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      display: inline-block;
      height: 1em;
      width: 100%;
      border-bottom: 3px solid $powder-blue;
      transition: border-bottom 1s ease;
      margin-top: 6px;
      transition: all .2s ease-out;
    }

    &:hover {
      &:after {
          transform: translate(0, -12px);
      }
    }
  }

}

video {
  @include grid-media($mobile) {
    @include grid-column(4);
  }
  @include grid-media($default-grid) {
    @include grid-column(12);
  }
    margin-bottom: 1em;
}
