// Helpers

.margin0btm {
  margin-bottom: 0 !important;
}

.middle {
  // this is such a gross hack. please take out.
  padding-right: 1.25em !important;
}

.center {
  text-align: center;
}


// link underlines
.underline {
  a {
    color: $black;
    font-family: $circular-bold;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 4px solid $cruise-teal;
  }
}
